@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.147 0.004 49.25);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.147 0.004 49.25);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.004 49.25);
  --primary: oklch(0.216 0.006 56.043);
  --primary-foreground: oklch(0.985 0.001 106.423);
  --secondary: oklch(0.97 0.001 106.424);
  --secondary-foreground: oklch(0.216 0.006 56.043);
  --muted: oklch(0.97 0.001 106.424);
  --muted-foreground: oklch(0.553 0.013 58.071);
  --accent: oklch(0.97 0.001 106.424);
  --accent-foreground: oklch(0.216 0.006 56.043);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.923 0.003 48.717);
  --input: oklch(0.923 0.003 48.717);
  --ring: oklch(0.709 0.01 56.259);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.147 0.004 49.25);
  --sidebar-primary: oklch(0.216 0.006 56.043);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
  --sidebar-border: oklch(0.923 0.003 48.717);
  --sidebar-ring: oklch(0.709 0.01 56.259);
}

.dark {
  --background: oklch(0.147 0.004 49.25);
  --foreground: oklch(0.985 0.001 106.423);
  --card: oklch(0.216 0.006 56.043);
  --card-foreground: oklch(0.985 0.001 106.423);
  --popover: oklch(0.216 0.006 56.043);
  --popover-foreground: oklch(0.985 0.001 106.423);
  --primary: oklch(0.923 0.003 48.717);
  --primary-foreground: oklch(0.216 0.006 56.043);
  --secondary: oklch(0.268 0.007 34.298);
  --secondary-foreground: oklch(0.985 0.001 106.423);
  --muted: oklch(0.268 0.007 34.298);
  --muted-foreground: oklch(0.709 0.01 56.259);
  --accent: oklch(0.268 0.007 34.298);
  --accent-foreground: oklch(0.985 0.001 106.423);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.553 0.013 58.071);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.216 0.006 56.043);
  --sidebar-foreground: oklch(0.985 0.001 106.423);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.268 0.007 34.298);
  --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.553 0.013 58.071);
}

body {
  /* background-image: radial-gradient(circle at 58% 50%, hsla(89,0%,28%,0.1) 0%, hsla(89,0%,28%,0.1) 60%,transparent 60%, transparent 98%,transparent 98%, transparent 100%),radial-gradient(circle at 36% 79%, hsla(89,0%,28%,0.1) 0%, hsla(89,0%,28%,0.1) 49%,transparent 49%, transparent 99%,transparent 99%, transparent 100%),radial-gradient(circle at 48% 23%, hsla(89,0%,28%,0.1) 0%, hsla(89,0%,28%,0.1) 50%,transparent 50%, transparent 87%,transparent 87%, transparent 100%),radial-gradient(circle at 55% 69%, hsla(89,0%,28%,0.1) 0%, hsla(89,0%,28%,0.1) 3%,transparent 3%, transparent 19%,transparent 19%, transparent 100%),radial-gradient(circle at 38% 69%, hsla(89,0%,28%,0.1) 0%, hsla(89,0%,28%,0.1) 15%,transparent 15%, transparent 33%,transparent 33%, transparent 100%),linear-gradient(45deg, rgb(14, 124, 138),rgb(44, 254, 203)); */
  /* background-image: radial-gradient(circle at 21% 15%, hsla(210,0%,82%,0.1) 0%, hsla(210,0%,82%,0.1) 45%,transparent 45%, transparent 83%,transparent 83%, transparent 100%),radial-gradient(circle at 84% 23%, hsla(210,0%,82%,0.1) 0%, hsla(210,0%,82%,0.1) 68%,transparent 68%, transparent 93%,transparent 93%, transparent 100%),radial-gradient(circle at 7% 76%, hsla(210,0%,82%,0.1) 0%, hsla(210,0%,82%,0.1) 52%,transparent 52%, transparent 75%,transparent 75%, transparent 100%),radial-gradient(circle at 59% 77%, hsla(210,0%,82%,0.1) 0%, hsla(210,0%,82%,0.1) 87%,transparent 87%, transparent 93%,transparent 93%, transparent 100%),radial-gradient(circle at 59% 5%, hsla(210,0%,82%,0.1) 0%, hsla(210,0%,82%,0.1) 54%,transparent 54%, transparent 56%,transparent 56%, transparent 100%),linear-gradient(0deg, rgb(28, 29, 210),rgb(125, 129, 184)); */
  /* background-image: radial-gradient(circle at 53% 49%, rgba(158, 158, 158,0.05) 0%, rgba(158, 158, 158,0.05) 50%,rgba(55, 55, 55,0.05) 50%, rgba(55, 55, 55,0.05) 100%),radial-gradient(circle at 48% 15%, rgba(33, 33, 33,0.05) 0%, rgba(33, 33, 33,0.05) 50%,rgba(184, 184, 184,0.05) 50%, rgba(184, 184, 184,0.05) 100%),radial-gradient(circle at 49% 38%, rgba(10, 10, 10,0.05) 0%, rgba(10, 10, 10,0.05) 50%,rgba(233, 233, 233,0.05) 50%, rgba(233, 233, 233,0.05) 100%),linear-gradient(90deg, rgb(60, 132, 164),rgb(136, 6, 229)); */
  /* background-image: radial-gradient(circle at 72% 95%, hsla(313,0%,4%,0.07) 0%, hsla(313,0%,4%,0.07) 64%,transparent 64%, transparent 84%,transparent 84%, transparent 100%),radial-gradient(circle at 31% 30%, hsla(313,0%,4%,0.07) 0%, hsla(313,0%,4%,0.07) 49%,transparent 49%, transparent 51%,transparent 51%, transparent 100%),radial-gradient(circle at 72% 25%, hsla(313,0%,4%,0.07) 0%, hsla(313,0%,4%,0.07) 37%,transparent 37%, transparent 76%,transparent 76%, transparent 100%),radial-gradient(circle at 71% 16%, hsla(313,0%,4%,0.07) 0%, hsla(313,0%,4%,0.07) 2%,transparent 2%, transparent 21%,transparent 21%, transparent 100%),radial-gradient(circle at 52% 57%, hsla(313,0%,4%,0.07) 0%, hsla(313,0%,4%,0.07) 30%,transparent 30%, transparent 68%,transparent 68%, transparent 100%),linear-gradient(135deg, rgb(19, 185, 65),rgb(57, 60, 25));
   */
  /* background-image: radial-gradient(circle at 77% 26%, rgba(175, 175, 175,0.06) 0%, rgba(175, 175, 175,0.06) 4%,transparent 4%, transparent 100%),radial-gradient(circle at 37% 90%, rgba(129, 129, 129,0.06) 0%, rgba(129, 129, 129,0.06) 55%,transparent 55%, transparent 100%),radial-gradient(circle at 7% 92%, rgba(53, 53, 53,0.06) 0%, rgba(53, 53, 53,0.06) 39%,transparent 39%, transparent 100%),radial-gradient(circle at 65% 17%, rgba(128, 128, 128,0.06) 0%, rgba(128, 128, 128,0.06) 60%,transparent 60%, transparent 100%),radial-gradient(circle at 100% 39%, rgba(75, 75, 75,0.06) 0%, rgba(75, 75, 75,0.06) 20%,transparent 20%, transparent 100%),radial-gradient(circle at 92% 34%, rgba(205, 205, 205,0.06) 0%, rgba(205, 205, 205,0.06) 35%,transparent 35%, transparent 100%),radial-gradient(circle at 63% 90%, rgba(98, 98, 98,0.06) 0%, rgba(98, 98, 98,0.06) 62%,transparent 62%, transparent 100%),radial-gradient(circle at 93% 74%, rgba(130, 130, 130,0.06) 0%, rgba(130, 130, 130,0.06) 65%,transparent 65%, transparent 100%),linear-gradient(90deg, rgb(18, 233, 78),rgb(160, 239, 92)); */
  background-image: radial-gradient(
      circle at 62% 39%,
      rgba(30, 30, 30, 0.05) 0%,
      rgba(30, 30, 30, 0.05) 8%,
      transparent 8%,
      transparent 16%,
      transparent 16%,
      transparent 28%,
      transparent 28%,
      transparent 100%
    ),
    radial-gradient(
      circle at 19% 61%,
      rgba(201, 201, 201, 0.01) 0%,
      rgba(201, 201, 201, 0.01) 59%,
      transparent 59%,
      transparent 60%,
      transparent 60%,
      transparent 99%,
      transparent 99%,
      transparent 100%
    ),
    radial-gradient(
      circle at 15% 5%,
      rgba(186, 186, 186, 0.05) 0%,
      rgba(186, 186, 186, 0.05) 9%,
      transparent 9%,
      transparent 79%,
      transparent 79%,
      transparent 92%,
      transparent 92%,
      transparent 100%
    ),
    radial-gradient(
      circle at 64% 49%,
      rgba(51, 51, 51, 0.08) 0%,
      rgba(51, 51, 51, 0.08) 22%,
      transparent 22%,
      transparent 50%,
      transparent 50%,
      transparent 96%,
      transparent 96%,
      transparent 100%
    ),
    radial-gradient(
      circle at 53% 21%,
      rgba(0, 0, 0, 0.04) 0%,
      rgba(0, 0, 0, 0.04) 21%,
      transparent 21%,
      transparent 80%,
      transparent 80%,
      transparent 89%,
      transparent 89%,
      transparent 100%
    ),
    radial-gradient(
      circle at 14% 91%,
      rgba(49, 49, 49, 0.04) 0%,
      rgba(49, 49, 49, 0.04) 35%,
      transparent 35%,
      transparent 63%,
      transparent 63%,
      transparent 71%,
      transparent 71%,
      transparent 100%
    ),
    radial-gradient(
      circle at 42% 78%,
      rgba(64, 64, 64, 0.02) 0%,
      rgba(64, 64, 64, 0.02) 56%,
      transparent 56%,
      transparent 75%,
      transparent 75%,
      transparent 80%,
      transparent 80%,
      transparent 100%
    ),
    radial-gradient(
      circle at 76% 85%,
      rgba(69, 69, 69, 0.06) 0%,
      rgba(69, 69, 69, 0.06) 53%,
      transparent 53%,
      transparent 68%,
      transparent 68%,
      transparent 97%,
      transparent 97%,
      transparent 100%
    ),
    linear-gradient(90deg, rgb(235, 235, 235), rgb(245, 245, 245));
  /* linear-gradient(90deg, rgb(62, 110, 80), rgb(62, 146, 80)); */
  /* linear-gradient(90deg, rgb(143, 249, 177), rgb(62, 146, 80)); */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@keyframes wave {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
  }
}
@layer utilities {
  .animate-wave {
    animation: wave 1.2s linear infinite;
    transform-origin: 50% 100%;
  }
}
