-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "TableName" AS ENUM ('PERMISSION', 'USER', 'POST', 'REGION', 'CLINIQUE', 'CLIENT', 'CLIENT_VIH', 'IMPORT_CLIENT_VIH', 'ACTIVITE', 'LIEU', 'VISITE', 'CONSTANTE', 'PLANNING', 'GYNECOLOGIE', 'IST', 'INFERTILITE', 'VBG', 'MEDECINE', 'GROSSESSE', 'OBSTETRIQUE', 'ACCOUCHEMENT', 'CPON', 'TEST_GROSSESSE', 'SAA', 'DEPISTAGE_VIH', 'PEC_VIH', 'REFERENCE', 'CONTRE_REFERENCE', 'ORDONNANCE', 'PRESTATION', 'TARIF_PRESTATION', 'FACTURE_PRESTATION', 'EXAMEN', 'TARIF_EXAMEN', 'DEMANDE_EXAMEN', 'RESULTAT_EXAMEN', 'FACTURE_EXAMEN', 'ECHOGRAPHIE', 'TARIF_ECHOGRAPHIE', 'DEMANDE_ECHOGRAPHIE', 'RESULTAT_ECHOGRAPHIE', 'FACTURE_ECHOGRAPHIE', 'PRODUIT', 'TARIF_PRODUIT', 'ANOMALIE_INVENTAIRE', 'FACTURE_PRODUIT', 'COMMANDE_FOURNISSEUR', 'DETAIL_COMMANDE', 'BILAN', 'STOCK_PRODUIT', 'INVENTAIRE', 'DETAIL_INVENTAIRE', 'AJUSTEMENT_STOCK', 'ADMINISTRATION', 'PRESCRIPTEUR', 'COMMISSION_EXAMEN', 'COMMISSION_ECHOGRAPHIE');

-- CreateEnum
CREATE TYPE "UserRole" AS ENUM ('USER', 'ADMIN');

-- CreateEnum
CREATE TYPE "PostStatus" AS ENUM ('AMD', 'INFIRMIER', 'SAGE_FEMME', 'CONSEILLER', 'MEDECIN', 'LABORANTIN', 'CAISSIERE', 'COMPTABLE', 'SUIVI_EVALLUATION', 'ADMIN');

-- CreateEnum
CREATE TYPE "TypeVisite" AS ENUM ('CONTRACEPTION', 'OBSTETRIQUE', 'PEC_VIH');

-- CreateEnum
CREATE TYPE "TypeActionGestionVisite" AS ENUM ('CONFIRMATION', 'REPROGRAMMATION', 'ACCOUCHEMENT', 'ARRET_CONTRACEPTION', 'INJOIGNABLE');

-- CreateEnum
CREATE TYPE "TypeExamen" AS ENUM ('MEDECIN', 'GYNECOLOGIE', 'OBSTETRIQUE', 'VIH', 'IST');

-- CreateEnum
CREATE TYPE "RegionExaminee" AS ENUM ('ABDOMEN', 'PELVIS_BASSIN', 'GYNECOLOGIE_OBSTETRIQUE', 'SEINS', 'COU', 'MUSCLES_ET_ARTICULATIONS', 'TESTICULES', 'PROSTATE', 'COEUR');

-- CreateEnum
CREATE TYPE "ServiceEchographie" AS ENUM ('OBSTETRIQUE', 'GYNECOLOGIE', 'INFERTILITE', 'MEDECINE_GENERALE');

-- CreateEnum
CREATE TYPE "TypeProduit" AS ENUM ('CONTRACEPTIF', 'MEDICAMENTS', 'CONSOMMABLES');

-- CreateEnum
CREATE TYPE "TypeCouverture" AS ENUM ('NON_ASSURE', 'CAS_SOCIAL', 'ASSURE');

-- CreateEnum
CREATE TYPE "TypeBilan" AS ENUM ('PRE_NATAL', 'POST_NATAL', 'SANGUIN', 'BUCCO_DENTAIRE', 'PRENUPTIAL', 'AUTRES');

-- CreateTable
CREATE TABLE "permissions" (
    "id" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "table" "TableName" NOT NULL,
    "canCreate" BOOLEAN NOT NULL DEFAULT false,
    "canRead" BOOLEAN NOT NULL DEFAULT false,
    "canUpdate" BOOLEAN NOT NULL DEFAULT false,
    "canDelete" BOOLEAN NOT NULL DEFAULT false,
    "userId" TEXT NOT NULL,

    CONSTRAINT "permissions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "posts" (
    "id" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "title" "PostStatus" NOT NULL,
    "content" TEXT NOT NULL,
    "userId" TEXT NOT NULL,

    CONSTRAINT "posts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "user" (
    "id" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "username" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "prescripteur" BOOLEAN NOT NULL DEFAULT false,
    "emailVerified" BOOLEAN NOT NULL,
    "image" TEXT,
    "role" "UserRole" NOT NULL DEFAULT 'USER',
    "banned" BOOLEAN,
    "banReason" TEXT,
    "banExpires" TIMESTAMP(3),
    "idCliniques" TEXT[],

    CONSTRAINT "user_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "session" (
    "id" TEXT NOT NULL,
    "sessionToken" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL,
    "userId" TEXT NOT NULL,

    CONSTRAINT "session_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "account" (
    "id" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "accountId" TEXT NOT NULL,
    "providerId" TEXT NOT NULL,
    "accessToken" TEXT,
    "refreshToken" TEXT,
    "idToken" TEXT,
    "accessTokenExpiresAt" TIMESTAMP(3),
    "refreshTokenExpiresAt" TIMESTAMP(3),
    "scope" TEXT,
    "password" TEXT,
    "userId" TEXT NOT NULL,

    CONSTRAINT "account_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "verification" (
    "id" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3),
    "updatedAt" TIMESTAMP(3),
    "identifier" TEXT NOT NULL,
    "value" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "verification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Region" (
    "id" TEXT NOT NULL,
    "nomRegion" TEXT NOT NULL,
    "codeRegion" TEXT NOT NULL,

    CONSTRAINT "Region_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Clinique" (
    "id" TEXT NOT NULL,
    "nomClinique" TEXT NOT NULL,
    "codeClinique" TEXT NOT NULL,
    "numClinique" TEXT NOT NULL,
    "idRegion" TEXT NOT NULL,

    CONSTRAINT "Clinique_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UserClinique" (
    "id" TEXT NOT NULL,
    "UserId" TEXT NOT NULL,
    "cliniqueId" TEXT NOT NULL,

    CONSTRAINT "UserClinique_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Client" (
    "id" TEXT NOT NULL,
    "dateEnregistrement" TIMESTAMP(3) NOT NULL,
    "nom" TEXT NOT NULL,
    "prenom" TEXT NOT NULL,
    "dateNaissance" TIMESTAMP(3) NOT NULL,
    "sexe" TEXT NOT NULL,
    "lieuNaissance" TEXT,
    "niveauScolaire" TEXT,
    "ethnie" TEXT,
    "profession" TEXT,
    "serologie" TEXT,
    "sourceInfo" TEXT NOT NULL,
    "quartier" TEXT,
    "statusClient" TEXT NOT NULL,
    "etatMatrimonial" TEXT,
    "code" TEXT NOT NULL,
    "codeVih" TEXT,
    "tel_1" TEXT NOT NULL,
    "tel_2" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "idUser" TEXT,
    "idClinique" TEXT NOT NULL,
    "cliniqueId" TEXT NOT NULL,

    CONSTRAINT "Client_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "IncrementCounter" (
    "id" TEXT NOT NULL,
    "cliniqueId" TEXT NOT NULL,
    "year" INTEGER NOT NULL,
    "counter" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "IncrementCounter_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RecapVisite" (
    "id" TEXT NOT NULL,
    "idVisite" TEXT NOT NULL,
    "idClient" TEXT NOT NULL,
    "prescripteurs" TEXT[],
    "formulaires" TEXT[],
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "RecapVisite_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Activite" (
    "id" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "idClinique" TEXT NOT NULL,
    "libelle" TEXT NOT NULL,
    "dateDebut" TIMESTAMP(3) NOT NULL,
    "dateFin" TIMESTAMP(3) NOT NULL,
    "objectifClt" INTEGER,
    "objectifSrv" INTEGER,
    "commentaire" TEXT,
    "idUser" TEXT NOT NULL,

    CONSTRAINT "Activite_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Lieu" (
    "id" TEXT NOT NULL,
    "idActivite" TEXT NOT NULL,
    "lieu" TEXT NOT NULL,
    "localite" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "dateDebut" TIMESTAMP(3) NOT NULL,
    "dateFin" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Lieu_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Visite" (
    "id" TEXT NOT NULL,
    "dateVisite" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "motifVisite" TEXT NOT NULL,
    "idUser" TEXT NOT NULL,
    "idClinique" TEXT NOT NULL,
    "idClient" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "idActivite" TEXT,
    "idLieu" TEXT,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Visite_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "GestionVisite" (
    "id" TEXT NOT NULL,
    "idVisite" TEXT NOT NULL,
    "typeVisite" "TypeVisite" NOT NULL,
    "action" "TypeActionGestionVisite" NOT NULL,
    "dateAction" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "commentaire" TEXT,
    "prochaineDate" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "GestionVisite_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Constante" (
    "id" TEXT NOT NULL,
    "idVisite" TEXT NOT NULL,
    "poids" DOUBLE PRECISION NOT NULL,
    "taille" DOUBLE PRECISION,
    "psSystolique" INTEGER,
    "psDiastolique" INTEGER,
    "temperature" DOUBLE PRECISION,
    "lieuTemprature" TEXT,
    "pouls" INTEGER,
    "frequenceRespiratoire" INTEGER,
    "saturationOxygene" INTEGER,
    "imc" DOUBLE PRECISION,
    "etatImc" TEXT,
    "idUser" TEXT,
    "idClient" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Constante_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Planning" (
    "id" TEXT NOT NULL,
    "idVisite" TEXT NOT NULL,
    "statut" TEXT NOT NULL,
    "typeContraception" TEXT NOT NULL,
    "motifVisite" TEXT NOT NULL,
    "consultation" BOOLEAN NOT NULL DEFAULT false,
    "counsellingPf" BOOLEAN NOT NULL DEFAULT false,
    "courtDuree" TEXT,
    "methodePrise" BOOLEAN NOT NULL DEFAULT false,
    "implanon" TEXT,
    "jadelle" TEXT,
    "sterilet" TEXT,
    "retraitImplanon" BOOLEAN NOT NULL DEFAULT false,
    "retraitJadelle" BOOLEAN NOT NULL DEFAULT false,
    "retraitSterilet" BOOLEAN NOT NULL DEFAULT false,
    "raisonRetrait" TEXT,
    "raisonEffetSecondaire" TEXT,
    "rdvPf" TIMESTAMP(3),
    "idUser" TEXT NOT NULL,
    "idClient" TEXT NOT NULL,
    "idClinique" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Planning_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Gynecologie" (
    "id" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "consultation" BOOLEAN NOT NULL,
    "motifConsultation" TEXT NOT NULL,
    "counsellingAvantDepitage" BOOLEAN,
    "counsellingApresDepitage" BOOLEAN,
    "resultatIva" TEXT,
    "eligibleTraitementIva" BOOLEAN,
    "typeTraitement" TEXT,
    "counselingCancerSein" BOOLEAN,
    "resultatCancerSein" TEXT,
    "counselingAutreProbleme" BOOLEAN,
    "examenPhysique" BOOLEAN,
    "examenPalpation" BOOLEAN,
    "toucheeVaginale" BOOLEAN,
    "reglesIrreguliere" BOOLEAN,
    "regularisationMenstruelle" BOOLEAN,
    "autreProblemeGyneco" BOOLEAN,
    "idUser" TEXT NOT NULL,
    "idClient" TEXT NOT NULL,
    "idVisite" TEXT NOT NULL,
    "idClinique" TEXT NOT NULL,

    CONSTRAINT "Gynecologie_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Ist" (
    "id" TEXT NOT NULL,
    "istCreatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "istTypeClient" TEXT NOT NULL,
    "istType" TEXT NOT NULL,
    "istCounsellingAvantDepitage" BOOLEAN NOT NULL,
    "istExamenPhysique" BOOLEAN NOT NULL,
    "istCounsellingApresDepitage" BOOLEAN NOT NULL,
    "istCounselingReductionRisque" BOOLEAN NOT NULL,
    "istTypePec" TEXT NOT NULL,
    "istPecEtiologique" TEXT NOT NULL,
    "istIdUser" TEXT NOT NULL,
    "istIdClient" TEXT NOT NULL,
    "istIdVisite" TEXT NOT NULL,
    "istIdClinique" TEXT NOT NULL,

    CONSTRAINT "Ist_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Infertilite" (
    "id" TEXT NOT NULL,
    "infertCreatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "infertConsultation" BOOLEAN NOT NULL,
    "infertCounselling" BOOLEAN NOT NULL,
    "infertExamenPhysique" BOOLEAN NOT NULL,
    "infertTraitement" TEXT,
    "infertIdUser" TEXT NOT NULL,
    "infertIdClient" TEXT NOT NULL,
    "infertIdVisite" TEXT NOT NULL,
    "infertIdClinique" TEXT NOT NULL,

    CONSTRAINT "Infertilite_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Vbg" (
    "id" TEXT NOT NULL,
    "vbgCreatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "vbgType" TEXT NOT NULL,
    "vbgDuree" INTEGER NOT NULL,
    "vbgConsultation" TEXT NOT NULL,
    "vbgCounsellingRelation" BOOLEAN NOT NULL,
    "vbgCounsellingViolenceSexuel" BOOLEAN NOT NULL,
    "vbgCounsellingViolencePhysique" BOOLEAN NOT NULL,
    "vbgCounsellingSexuelite" BOOLEAN NOT NULL,
    "vbgPreventionViolenceSexuelle" BOOLEAN NOT NULL,
    "vbgPreventionViolencePhysique" BOOLEAN NOT NULL,
    "vbgIdUser" TEXT NOT NULL,
    "vbgIdClient" TEXT NOT NULL,
    "vbgIdVisite" TEXT NOT NULL,
    "vbgIdClinique" TEXT NOT NULL,

    CONSTRAINT "Vbg_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Medecine" (
    "id" TEXT NOT NULL,
    "mdgCreatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "mdgConsultation" BOOLEAN NOT NULL DEFAULT true,
    "mdgCounselling" BOOLEAN NOT NULL DEFAULT true,
    "mdgTestRapidePalu" BOOLEAN NOT NULL DEFAULT false,
    "mdgEtatFemme" TEXT NOT NULL,
    "mdgMotifConsultation" TEXT NOT NULL,
    "mdgTypeVisite" TEXT NOT NULL,
    "mdgExamenPhysique" BOOLEAN NOT NULL DEFAULT false,
    "mdgSuspicionPalu" TEXT,
    "mdgDiagnostic" TEXT[],
    "mdgAutreDiagnostic" TEXT,
    "mdgSoins" TEXT,
    "mdgPecAffection" TEXT,
    "mdgTypeAffection" TEXT,
    "mdgTraitement" TEXT[],
    "mdgMiseEnObservation" BOOLEAN,
    "mdgDureeObservation" DOUBLE PRECISION,
    "mdgIdUser" TEXT NOT NULL,
    "mdgIdClient" TEXT NOT NULL,
    "mdgIdVisite" TEXT NOT NULL,
    "mdgIdClinique" TEXT NOT NULL,

    CONSTRAINT "Medecine_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Grossesse" (
    "id" TEXT NOT NULL,
    "grossesseConsultation" BOOLEAN NOT NULL DEFAULT true,
    "grossesseIdVisite" TEXT NOT NULL,
    "grossesseHta" TEXT NOT NULL,
    "grossesseDiabete" TEXT NOT NULL,
    "grossesseGestite" INTEGER NOT NULL DEFAULT 1,
    "grossesseParite" INTEGER NOT NULL DEFAULT 0,
    "grossesseAge" DOUBLE PRECISION,
    "grossesseDdr" TIMESTAMP(3),
    "termePrevu" TIMESTAMP(3),
    "grossesseInterruption" BOOLEAN NOT NULL DEFAULT false,
    "grossesseMotifInterruption" TEXT,
    "grossesseIdUser" TEXT NOT NULL,
    "grossesseIdClient" TEXT NOT NULL,
    "grossesseCreatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "grossesseUpdatedAt" TIMESTAMP(3) NOT NULL,
    "grossesseIdClinique" TEXT NOT NULL,

    CONSTRAINT "Grossesse_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Obstetrique" (
    "id" TEXT NOT NULL,
    "obstIdVisite" TEXT NOT NULL,
    "obstConsultation" BOOLEAN NOT NULL DEFAULT true,
    "obstCounselling" BOOLEAN NOT NULL DEFAULT true,
    "obstTypeVisite" TEXT NOT NULL,
    "obstVat" TEXT,
    "obstSp" TEXT,
    "obstFer" BOOLEAN NOT NULL DEFAULT false,
    "obstFolate" BOOLEAN NOT NULL DEFAULT false,
    "obstDeparasitant" BOOLEAN NOT NULL DEFAULT false,
    "obstMilda" BOOLEAN NOT NULL DEFAULT false,
    "obstInvestigations" BOOLEAN NOT NULL,
    "obstEtatNutritionnel" TEXT NOT NULL,
    "obstEtatGrossesse" TEXT NOT NULL,
    "obstPfppi" BOOLEAN NOT NULL DEFAULT true,
    "obstAlbuminieSucre" BOOLEAN NOT NULL DEFAULT false,
    "obstAnemie" BOOLEAN NOT NULL DEFAULT false,
    "obstSyphilis" BOOLEAN NOT NULL DEFAULT false,
    "obstAghbs" BOOLEAN NOT NULL DEFAULT false,
    "obstRdv" TIMESTAMP(3),
    "obstIdGrossesse" TEXT,
    "obstIdUser" TEXT NOT NULL,
    "obstIdClient" TEXT NOT NULL,
    "obstCreatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "obstUpdatedAt" TIMESTAMP(3) NOT NULL,
    "obstIdClinique" TEXT NOT NULL,

    CONSTRAINT "Obstetrique_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Accouchement" (
    "id" TEXT NOT NULL,
    "accouchementConsultation" BOOLEAN NOT NULL DEFAULT true,
    "accouchementLieu" TEXT NOT NULL,
    "accouchementStatutVat" TEXT NOT NULL,
    "accouchementComplications" TEXT NOT NULL,
    "accouchementEvacuationMere" TEXT,
    "accouchementTypeEvacuation" TEXT,
    "accouchementEvacuationEnfant" TEXT NOT NULL,
    "accouchementMultiple" TEXT NOT NULL,
    "accouchementEtatNaissance" TEXT NOT NULL,
    "accouchementEnfantVivant" INTEGER NOT NULL,
    "accouchementEnfantMortNeFrais" INTEGER NOT NULL,
    "accouchementEnfantMortNeMacere" INTEGER NOT NULL,
    "accouchementNbPoidsEfantVivant" INTEGER NOT NULL,
    "accouchementCreatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "accouchementUpdatedAt" TIMESTAMP(3) NOT NULL,
    "accouchementIdUser" TEXT NOT NULL,
    "accouchementIdClient" TEXT NOT NULL,
    "accouchementIdVisite" TEXT NOT NULL,
    "accouchementIdGrossesse" TEXT,
    "accouchementIdClinique" TEXT NOT NULL,

    CONSTRAINT "Accouchement_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Cpon" (
    "id" TEXT NOT NULL,
    "cponConsultation" BOOLEAN NOT NULL DEFAULT true,
    "cponCounselling" BOOLEAN NOT NULL DEFAULT true,
    "cponInvestigationPhysique" BOOLEAN NOT NULL DEFAULT true,
    "cponDuree" TEXT NOT NULL,
    "cponIdUser" TEXT NOT NULL,
    "cponIdClient" TEXT NOT NULL,
    "cponIdVisite" TEXT NOT NULL,
    "cponIdGrossesse" TEXT,
    "cponCreatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "cponUpdatedAt" TIMESTAMP(3) NOT NULL,
    "cponIdClinique" TEXT NOT NULL,

    CONSTRAINT "Cpon_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TestGrossesse" (
    "id" TEXT NOT NULL,
    "testCreatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "testUpdatedAt" TIMESTAMP(3) NOT NULL,
    "testConsultation" BOOLEAN NOT NULL DEFAULT true,
    "testResultat" TEXT NOT NULL,
    "testIdUser" TEXT NOT NULL,
    "testIdClient" TEXT NOT NULL,
    "testIdVisite" TEXT NOT NULL,
    "testIdGrossesse" TEXT,
    "testIdClinique" TEXT NOT NULL,

    CONSTRAINT "TestGrossesse_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Saa" (
    "id" TEXT NOT NULL,
    "saaTypeAvortement" TEXT NOT NULL,
    "saaMethodeAvortement" TEXT,
    "saaConsultation" BOOLEAN NOT NULL DEFAULT true,
    "saaSuiviPostAvortement" BOOLEAN NOT NULL DEFAULT false,
    "saaSuiviAutoRefere" BOOLEAN NOT NULL DEFAULT false,
    "saaCounsellingPre" BOOLEAN NOT NULL,
    "saaMotifDemande" TEXT,
    "saaConsultationPost" BOOLEAN NOT NULL,
    "saaCounsellingPost" BOOLEAN NOT NULL,
    "saaTypePec" TEXT,
    "saaTraitementComplication" TEXT,
    "saaIdUser" TEXT NOT NULL,
    "saaIdClient" TEXT NOT NULL,
    "saaIdVisite" TEXT NOT NULL,
    "saaIdGrossesse" TEXT,
    "saaCreatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "saaUpdatedAt" TIMESTAMP(3) NOT NULL,
    "saaIdClinique" TEXT NOT NULL,

    CONSTRAINT "Saa_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DepistageVih" (
    "id" TEXT NOT NULL,
    "depistageVihCreatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "depistageVihTypeClient" TEXT NOT NULL,
    "depistageVihUpdatedAt" TIMESTAMP(3) NOT NULL,
    "depistageVihConsultation" BOOLEAN NOT NULL DEFAULT true,
    "depistageVihCounsellingPreTest" BOOLEAN NOT NULL DEFAULT true,
    "depistageVihInvestigationTestRapide" BOOLEAN NOT NULL DEFAULT false,
    "depistageVihResultat" TEXT NOT NULL,
    "depistageVihCounsellingPostTest" BOOLEAN NOT NULL DEFAULT false,
    "depistageVihCounsellingReductionRisque" BOOLEAN NOT NULL DEFAULT false,
    "depistageVihCounsellingSoutienPsychoSocial" BOOLEAN NOT NULL DEFAULT false,
    "depistageVihResultatPositifMisSousArv" BOOLEAN NOT NULL DEFAULT false,
    "depistageVihIdUser" TEXT NOT NULL,
    "depistageVihIdClient" TEXT NOT NULL,
    "depistageVihIdVisite" TEXT NOT NULL,
    "depistageVihIdClinique" TEXT NOT NULL,

    CONSTRAINT "DepistageVih_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PecVih" (
    "id" TEXT NOT NULL,
    "pecVihCreatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "pecVihUpdatedAt" TIMESTAMP(3) NOT NULL,
    "pecVihCounselling" BOOLEAN NOT NULL DEFAULT true,
    "pecVihTypeclient" TEXT NOT NULL,
    "pecVihMoleculeArv" TEXT NOT NULL,
    "pecVihAesArv" BOOLEAN NOT NULL DEFAULT false,
    "pecVihCotrimo" BOOLEAN NOT NULL DEFAULT false,
    "pecVihSpdp" BOOLEAN NOT NULL DEFAULT true,
    "pecVihIoPaludisme" BOOLEAN NOT NULL DEFAULT false,
    "pecVihIoTuberculose" BOOLEAN NOT NULL DEFAULT false,
    "pecVihIoAutre" BOOLEAN NOT NULL DEFAULT false,
    "pecVihSoutienPsychoSocial" BOOLEAN NOT NULL DEFAULT false,
    "pecDateRdvSuivi" TIMESTAMP(3) NOT NULL,
    "pecVihIdUser" TEXT NOT NULL,
    "pecVihIdClient" TEXT NOT NULL,
    "pecVihIdVisite" TEXT NOT NULL,
    "pecVihIdClinique" TEXT NOT NULL,

    CONSTRAINT "PecVih_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ExamenPvVih" (
    "id" TEXT NOT NULL,
    "examenPvVihCreatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "examenPvVihUpdatedAt" TIMESTAMP(3) NOT NULL,
    "examenPvVihConsultation" BOOLEAN NOT NULL DEFAULT true,
    "examenPvVihDatePrelevement" TIMESTAMP(3) NOT NULL,
    "examenPvVihDateTraitement" TIMESTAMP(3) NOT NULL,
    "examenPvVihFemmeEnceinte" TEXT,
    "examenPvVihAllaitement" TEXT,
    "examenPvVihTypage" TEXT,
    "examenPvVihChargeVirale" INTEGER,
    "examenPvVihChargeViraleLog" INTEGER,
    "examenPvVihCd4" INTEGER,
    "examenPvVihGlycemie" INTEGER,
    "examenPvVihCreatinemie" INTEGER,
    "examenPvVihTransaminases" INTEGER,
    "examenPvVihUree" INTEGER,
    "examenPvVihCholesterolHdl" INTEGER,
    "examenPvVihCholesterolTotal" INTEGER,
    "examenPvVihHemoglobineNfs" INTEGER,
    "examenPvVihIdUser" TEXT NOT NULL,
    "examenPvVihIdClient" TEXT NOT NULL,
    "examenPvVihIdVisite" TEXT NOT NULL,
    "examenPvVihIdClinique" TEXT NOT NULL,

    CONSTRAINT "ExamenPvVih_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Reference" (
    "id" TEXT NOT NULL,
    "consultation" BOOLEAN NOT NULL DEFAULT true,
    "motifReference" TEXT NOT NULL,
    "autreMotif" TEXT,
    "structureReference" TEXT NOT NULL,
    "service" TEXT,
    "examenClinique" TEXT,
    "antecedentMedicaux" TEXT,
    "allergies" TEXT,
    "diagnosticPropose" TEXT,
    "soinsRecu" TEXT,
    "depuisQuand" TIMESTAMP(3),
    "ivaGestite" INTEGER,
    "ivaParite" INTEGER,
    "ivaLesionLargeDuCol" BOOLEAN NOT NULL DEFAULT false,
    "ivaAutre" BOOLEAN NOT NULL DEFAULT false,
    "ivaLesionSuspectDuCol" BOOLEAN NOT NULL DEFAULT false,
    "ivaRealisee" BOOLEAN NOT NULL DEFAULT false,
    "ivaResultat" BOOLEAN NOT NULL DEFAULT false,
    "observations" TEXT,
    "nomPrenomReferant" TEXT NOT NULL,
    "telReferant" TEXT NOT NULL,
    "dateReference" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "qualification" TEXT NOT NULL,
    "refIdVisite" TEXT NOT NULL,
    "idClient" TEXT NOT NULL,
    "idUser" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "idClinique" TEXT NOT NULL,

    CONSTRAINT "Reference_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ContreReference" (
    "id" TEXT NOT NULL,
    "consultation" BOOLEAN NOT NULL DEFAULT true,
    "dateReception" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "numeroDossier" TEXT,
    "diagnosticPose" TEXT,
    "patientHospitalise" BOOLEAN NOT NULL DEFAULT false,
    "traitementRecu" TEXT,
    "traitementASuivre" TEXT,
    "ivaBilan" TEXT,
    "nomPrenomPrestataire" TEXT NOT NULL,
    "telPrestataire" TEXT NOT NULL,
    "dateSortie" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "qualification" TEXT NOT NULL,
    "refIdVisite" TEXT NOT NULL,
    "idClient" TEXT NOT NULL,
    "idReference" TEXT NOT NULL,
    "idUser" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "idClinique" TEXT NOT NULL,

    CONSTRAINT "ContreReference_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Ordonnance" (
    "id" TEXT NOT NULL,
    "ordonnanceCreatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "ordonnanceUpdatedAt" TIMESTAMP(3) NOT NULL,
    "ordonnanceIdVisite" TEXT NOT NULL,
    "ordonnanceIdClient" TEXT NOT NULL,
    "ordonnanceIdUser" TEXT NOT NULL,
    "ordonnanceMedicaments" TEXT[],
    "ordonnanceIdClinique" TEXT NOT NULL,

    CONSTRAINT "Ordonnance_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Prestation" (
    "id" TEXT NOT NULL,
    "nomPrestation" TEXT NOT NULL,
    "idUser" TEXT NOT NULL,

    CONSTRAINT "Prestation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TarifPrestation" (
    "id" TEXT NOT NULL,
    "montantPrestation" INTEGER NOT NULL,
    "nomPrestation" TEXT NOT NULL,
    "idPrestation" TEXT NOT NULL,
    "idClinique" TEXT NOT NULL,
    "idUser" TEXT NOT NULL,

    CONSTRAINT "TarifPrestation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FacturePrestation" (
    "id" TEXT NOT NULL,
    "libellePrestation" TEXT NOT NULL,
    "prixPrestation" INTEGER NOT NULL,
    "dateFacture" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "idVisite" TEXT NOT NULL,
    "idClient" TEXT NOT NULL,
    "idClinique" TEXT NOT NULL,
    "idPrestation" TEXT NOT NULL,
    "idUser" TEXT NOT NULL,

    CONSTRAINT "FacturePrestation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Examen" (
    "id" TEXT NOT NULL,
    "typeExamen" "TypeExamen" NOT NULL,
    "nomExamen" TEXT NOT NULL,
    "uniteMesureExamen" TEXT,
    "valeurUsuelleMinH" DOUBLE PRECISION,
    "valeurUsuelleMaxH" DOUBLE PRECISION,
    "valeurUsuelleMinF" DOUBLE PRECISION,
    "valeurUsuelleMaxF" DOUBLE PRECISION,
    "abreviation" TEXT NOT NULL,
    "idUser" TEXT NOT NULL,

    CONSTRAINT "Examen_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TarifExamen" (
    "id" TEXT NOT NULL,
    "prixExamen" INTEGER NOT NULL,
    "nomExamen" TEXT NOT NULL,
    "idExamen" TEXT NOT NULL,
    "idClinique" TEXT NOT NULL,
    "idUser" TEXT NOT NULL,

    CONSTRAINT "TarifExamen_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DemandeExamen" (
    "id" TEXT NOT NULL,
    "idVisite" TEXT NOT NULL,
    "idClient" TEXT NOT NULL,
    "idClinique" TEXT NOT NULL,
    "idTarifExamen" TEXT NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "idUser" TEXT NOT NULL,

    CONSTRAINT "DemandeExamen_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ResultatExamen" (
    "id" TEXT NOT NULL,
    "resultatExamen" TEXT NOT NULL,
    "observations" TEXT,
    "valeurResultat" INTEGER NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "idFactureExamen" TEXT NOT NULL,
    "idClinique" TEXT NOT NULL,
    "idUser" TEXT NOT NULL,
    "idVisite" TEXT NOT NULL,
    "idClient" TEXT NOT NULL,

    CONSTRAINT "ResultatExamen_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FactureExamen" (
    "id" TEXT NOT NULL,
    "libelleExamen" TEXT NOT NULL,
    "prixExamen" INTEGER NOT NULL,
    "idVisite" TEXT NOT NULL,
    "idClient" TEXT NOT NULL,
    "idClinique" TEXT NOT NULL,
    "remiseExamen" INTEGER NOT NULL DEFAULT 0,
    "soustraitanceExamen" BOOLEAN NOT NULL DEFAULT false,
    "idDemandeExamen" TEXT NOT NULL,
    "idUser" TEXT NOT NULL,

    CONSTRAINT "FactureExamen_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Echographie" (
    "id" TEXT NOT NULL,
    "regionExaminee" "RegionExaminee" NOT NULL,
    "nomEchographie" TEXT NOT NULL,
    "idUser" TEXT NOT NULL,
    "organeExaminee" TEXT,

    CONSTRAINT "Echographie_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TarifEchographie" (
    "id" TEXT NOT NULL,
    "prixEchographie" INTEGER NOT NULL,
    "nomEchographie" TEXT NOT NULL,
    "idEchographie" TEXT NOT NULL,
    "idClinique" TEXT NOT NULL,
    "idUser" TEXT NOT NULL,

    CONSTRAINT "TarifEchographie_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DemandeEchographie" (
    "id" TEXT NOT NULL,
    "idVisite" TEXT NOT NULL,
    "idClient" TEXT NOT NULL,
    "idClinique" TEXT NOT NULL,
    "idTarifEchographie" TEXT NOT NULL,
    "serviceEchographie" "ServiceEchographie" NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "idUser" TEXT NOT NULL,

    CONSTRAINT "DemandeEchographie_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ResultatEchographie" (
    "id" TEXT NOT NULL,
    "resultatEchographie" TEXT NOT NULL,
    "observations" TEXT,
    "valeurResultat" INTEGER NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "idFactureEchographie" TEXT NOT NULL,
    "idClinique" TEXT NOT NULL,
    "idUser" TEXT NOT NULL,
    "idVisite" TEXT NOT NULL,
    "idClient" TEXT NOT NULL,

    CONSTRAINT "ResultatEchographie_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FactureEchographie" (
    "id" TEXT NOT NULL,
    "libelleEchographie" TEXT NOT NULL,
    "prixEchographie" INTEGER NOT NULL,
    "serviceEchographieFacture" TEXT NOT NULL,
    "idVisite" TEXT NOT NULL,
    "idClient" TEXT NOT NULL,
    "idClinique" TEXT NOT NULL,
    "remiseEchographie" INTEGER NOT NULL DEFAULT 0,
    "idDemandeEchographie" TEXT NOT NULL,
    "idUser" TEXT NOT NULL,

    CONSTRAINT "FactureEchographie_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Produit" (
    "id" TEXT NOT NULL,
    "nomProduit" TEXT NOT NULL,
    "description" TEXT,
    "typeProduit" "TypeProduit" NOT NULL,
    "idUser" TEXT NOT NULL,

    CONSTRAINT "Produit_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TarifProduit" (
    "id" TEXT NOT NULL,
    "prixUnitaire" INTEGER NOT NULL,
    "quantiteStock" INTEGER NOT NULL,
    "idProduit" TEXT NOT NULL,
    "idClinique" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "idUser" TEXT NOT NULL,

    CONSTRAINT "TarifProduit_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Inventaire" (
    "id" TEXT NOT NULL,
    "dateInventaire" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "idClinique" TEXT NOT NULL,
    "idUser" TEXT NOT NULL,

    CONSTRAINT "Inventaire_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DetailInventaire" (
    "id" TEXT NOT NULL,
    "idInventaire" TEXT NOT NULL,
    "idUser" TEXT NOT NULL,
    "idTarifProduit" TEXT NOT NULL,
    "quantiteTheorique" INTEGER NOT NULL,
    "quantiteReelle" INTEGER NOT NULL,
    "ecart" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "DetailInventaire_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AnomalieInventaire" (
    "id" TEXT NOT NULL,
    "idTarifProduit" TEXT NOT NULL,
    "idUser" TEXT NOT NULL,
    "idDetailInventaire" TEXT NOT NULL,
    "quantiteManquante" INTEGER NOT NULL,
    "dateAnomalie" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "description" TEXT,

    CONSTRAINT "AnomalieInventaire_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FactureProduit" (
    "id" TEXT NOT NULL,
    "idTarifProduit" TEXT NOT NULL,
    "nomProduit" TEXT NOT NULL,
    "idClient" TEXT NOT NULL,
    "idClinique" TEXT NOT NULL,
    "quantite" INTEGER NOT NULL,
    "montantProduit" INTEGER NOT NULL,
    "methode" BOOLEAN NOT NULL DEFAULT false,
    "dateFacture" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "idUser" TEXT NOT NULL,
    "idVisite" TEXT NOT NULL,

    CONSTRAINT "FactureProduit_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CommandeFournisseur" (
    "id" TEXT NOT NULL,
    "dateCommande" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "idClinique" TEXT NOT NULL,

    CONSTRAINT "CommandeFournisseur_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DetailCommande" (
    "id" TEXT NOT NULL,
    "idTarifProduit" TEXT NOT NULL,
    "quantiteInitiale" INTEGER NOT NULL,
    "quantiteCommandee" INTEGER NOT NULL,
    "idCommande" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "idUser" TEXT NOT NULL,
    "idClinique" TEXT NOT NULL,

    CONSTRAINT "DetailCommande_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Couverture" (
    "id" TEXT NOT NULL,
    "couvertType" "TypeCouverture" NOT NULL,
    "couvertIdClient" TEXT NOT NULL,
    "couvertIdVisite" TEXT NOT NULL,

    CONSTRAINT "Couverture_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Bilan" (
    "id" TEXT NOT NULL,
    "bilanTypeBilan" "TypeBilan" NOT NULL,
    "nomDemandeur" TEXT NOT NULL,
    "bilanIdClient" TEXT NOT NULL,
    "bilanIdVisite" TEXT NOT NULL,

    CONSTRAINT "Bilan_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Prescripteur" (
    "id" TEXT NOT NULL,
    "nom" TEXT NOT NULL,
    "prenom" TEXT NOT NULL,
    "centre" TEXT NOT NULL,
    "contact" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "idClinique" TEXT NOT NULL,

    CONSTRAINT "Prescripteur_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CommissionExamen" (
    "id" TEXT NOT NULL,
    "idFactureExamen" TEXT NOT NULL,
    "idPrescripteur" TEXT NOT NULL,
    "idVisite" TEXT NOT NULL,
    "montantCommission" INTEGER NOT NULL,
    "paye" BOOLEAN NOT NULL DEFAULT false,
    "datePaiement" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CommissionExamen_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CommissionEchographie" (
    "id" TEXT NOT NULL,
    "idFactureEchographie" TEXT NOT NULL,
    "idPrescripteur" TEXT NOT NULL,
    "idVisite" TEXT NOT NULL,
    "montantCommission" INTEGER NOT NULL,
    "paye" BOOLEAN NOT NULL DEFAULT false,
    "datePaiement" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CommissionEchographie_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "_UserCliniques" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL,

    CONSTRAINT "_UserCliniques_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateIndex
CREATE UNIQUE INDEX "user_email_key" ON "user"("email");

-- CreateIndex
CREATE UNIQUE INDEX "user_username_key" ON "user"("username");

-- CreateIndex
CREATE UNIQUE INDEX "session_sessionToken_key" ON "session"("sessionToken");

-- CreateIndex
CREATE UNIQUE INDEX "UserClinique_UserId_cliniqueId_key" ON "UserClinique"("UserId", "cliniqueId");

-- CreateIndex
CREATE UNIQUE INDEX "IncrementCounter_cliniqueId_year_key" ON "IncrementCounter"("cliniqueId", "year");

-- CreateIndex
CREATE UNIQUE INDEX "RecapVisite_idVisite_key" ON "RecapVisite"("idVisite");

-- CreateIndex
CREATE INDEX "Activite_idUser_idx" ON "Activite"("idUser");

-- CreateIndex
CREATE INDEX "Activite_idClinique_idx" ON "Activite"("idClinique");

-- CreateIndex
CREATE INDEX "Lieu_idActivite_idx" ON "Lieu"("idActivite");

-- CreateIndex
CREATE INDEX "Gynecologie_idUser_idx" ON "Gynecologie"("idUser");

-- CreateIndex
CREATE INDEX "Gynecologie_idClient_idx" ON "Gynecologie"("idClient");

-- CreateIndex
CREATE INDEX "Gynecologie_idVisite_idx" ON "Gynecologie"("idVisite");

-- CreateIndex
CREATE INDEX "Ist_istIdUser_idx" ON "Ist"("istIdUser");

-- CreateIndex
CREATE INDEX "Ist_istIdClient_idx" ON "Ist"("istIdClient");

-- CreateIndex
CREATE INDEX "Ist_istIdVisite_idx" ON "Ist"("istIdVisite");

-- CreateIndex
CREATE INDEX "Ist_istIdClinique_idx" ON "Ist"("istIdClinique");

-- CreateIndex
CREATE INDEX "Infertilite_infertIdUser_idx" ON "Infertilite"("infertIdUser");

-- CreateIndex
CREATE INDEX "Infertilite_infertIdClient_idx" ON "Infertilite"("infertIdClient");

-- CreateIndex
CREATE INDEX "Infertilite_infertIdVisite_idx" ON "Infertilite"("infertIdVisite");

-- CreateIndex
CREATE INDEX "Vbg_vbgIdUser_idx" ON "Vbg"("vbgIdUser");

-- CreateIndex
CREATE INDEX "Vbg_vbgIdClient_idx" ON "Vbg"("vbgIdClient");

-- CreateIndex
CREATE INDEX "Vbg_vbgIdVisite_idx" ON "Vbg"("vbgIdVisite");

-- CreateIndex
CREATE INDEX "Medecine_mdgIdUser_idx" ON "Medecine"("mdgIdUser");

-- CreateIndex
CREATE INDEX "Medecine_mdgIdClient_idx" ON "Medecine"("mdgIdClient");

-- CreateIndex
CREATE INDEX "Medecine_mdgIdVisite_idx" ON "Medecine"("mdgIdVisite");

-- CreateIndex
CREATE INDEX "_UserCliniques_B_index" ON "_UserCliniques"("B");

-- AddForeignKey
ALTER TABLE "permissions" ADD CONSTRAINT "permissions_userId_fkey" FOREIGN KEY ("userId") REFERENCES "user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "posts" ADD CONSTRAINT "posts_userId_fkey" FOREIGN KEY ("userId") REFERENCES "user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "session" ADD CONSTRAINT "session_userId_fkey" FOREIGN KEY ("userId") REFERENCES "user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "account" ADD CONSTRAINT "account_userId_fkey" FOREIGN KEY ("userId") REFERENCES "user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Clinique" ADD CONSTRAINT "Clinique_idRegion_fkey" FOREIGN KEY ("idRegion") REFERENCES "Region"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserClinique" ADD CONSTRAINT "UserClinique_UserId_fkey" FOREIGN KEY ("UserId") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserClinique" ADD CONSTRAINT "UserClinique_cliniqueId_fkey" FOREIGN KEY ("cliniqueId") REFERENCES "Clinique"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Client" ADD CONSTRAINT "Client_cliniqueId_fkey" FOREIGN KEY ("cliniqueId") REFERENCES "Clinique"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Client" ADD CONSTRAINT "Client_idUser_fkey" FOREIGN KEY ("idUser") REFERENCES "user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "IncrementCounter" ADD CONSTRAINT "IncrementCounter_cliniqueId_fkey" FOREIGN KEY ("cliniqueId") REFERENCES "Clinique"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RecapVisite" ADD CONSTRAINT "RecapVisite_idVisite_fkey" FOREIGN KEY ("idVisite") REFERENCES "Visite"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RecapVisite" ADD CONSTRAINT "RecapVisite_idClient_fkey" FOREIGN KEY ("idClient") REFERENCES "Client"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Activite" ADD CONSTRAINT "Activite_idUser_fkey" FOREIGN KEY ("idUser") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Activite" ADD CONSTRAINT "Activite_idClinique_fkey" FOREIGN KEY ("idClinique") REFERENCES "Clinique"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Lieu" ADD CONSTRAINT "Lieu_idActivite_fkey" FOREIGN KEY ("idActivite") REFERENCES "Activite"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Visite" ADD CONSTRAINT "Visite_idClinique_fkey" FOREIGN KEY ("idClinique") REFERENCES "Clinique"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Visite" ADD CONSTRAINT "Visite_idClient_fkey" FOREIGN KEY ("idClient") REFERENCES "Client"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Visite" ADD CONSTRAINT "Visite_idActivite_fkey" FOREIGN KEY ("idActivite") REFERENCES "Activite"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Visite" ADD CONSTRAINT "Visite_idLieu_fkey" FOREIGN KEY ("idLieu") REFERENCES "Lieu"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Visite" ADD CONSTRAINT "Visite_idUser_fkey" FOREIGN KEY ("idUser") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "GestionVisite" ADD CONSTRAINT "GestionVisite_idVisite_fkey" FOREIGN KEY ("idVisite") REFERENCES "Visite"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Constante" ADD CONSTRAINT "Constante_idUser_fkey" FOREIGN KEY ("idUser") REFERENCES "user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Constante" ADD CONSTRAINT "Constante_idClient_fkey" FOREIGN KEY ("idClient") REFERENCES "Client"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Constante" ADD CONSTRAINT "Constante_idVisite_fkey" FOREIGN KEY ("idVisite") REFERENCES "Visite"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Planning" ADD CONSTRAINT "Planning_idClinique_fkey" FOREIGN KEY ("idClinique") REFERENCES "Clinique"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Planning" ADD CONSTRAINT "Planning_idVisite_fkey" FOREIGN KEY ("idVisite") REFERENCES "Visite"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Planning" ADD CONSTRAINT "Planning_idClient_fkey" FOREIGN KEY ("idClient") REFERENCES "Client"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Planning" ADD CONSTRAINT "Planning_idUser_fkey" FOREIGN KEY ("idUser") REFERENCES "user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Gynecologie" ADD CONSTRAINT "Gynecologie_idClinique_fkey" FOREIGN KEY ("idClinique") REFERENCES "Clinique"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Gynecologie" ADD CONSTRAINT "Gynecologie_idUser_fkey" FOREIGN KEY ("idUser") REFERENCES "user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Gynecologie" ADD CONSTRAINT "Gynecologie_idClient_fkey" FOREIGN KEY ("idClient") REFERENCES "Client"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Gynecologie" ADD CONSTRAINT "Gynecologie_idVisite_fkey" FOREIGN KEY ("idVisite") REFERENCES "Visite"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Ist" ADD CONSTRAINT "Ist_istIdClinique_fkey" FOREIGN KEY ("istIdClinique") REFERENCES "Clinique"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Ist" ADD CONSTRAINT "Ist_istIdUser_fkey" FOREIGN KEY ("istIdUser") REFERENCES "user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Ist" ADD CONSTRAINT "Ist_istIdClient_fkey" FOREIGN KEY ("istIdClient") REFERENCES "Client"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Ist" ADD CONSTRAINT "Ist_istIdVisite_fkey" FOREIGN KEY ("istIdVisite") REFERENCES "Visite"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Infertilite" ADD CONSTRAINT "Infertilite_infertIdUser_fkey" FOREIGN KEY ("infertIdUser") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Infertilite" ADD CONSTRAINT "Infertilite_infertIdClient_fkey" FOREIGN KEY ("infertIdClient") REFERENCES "Client"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Infertilite" ADD CONSTRAINT "Infertilite_infertIdVisite_fkey" FOREIGN KEY ("infertIdVisite") REFERENCES "Visite"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Infertilite" ADD CONSTRAINT "Infertilite_infertIdClinique_fkey" FOREIGN KEY ("infertIdClinique") REFERENCES "Clinique"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Vbg" ADD CONSTRAINT "Vbg_vbgIdClinique_fkey" FOREIGN KEY ("vbgIdClinique") REFERENCES "Clinique"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Vbg" ADD CONSTRAINT "Vbg_vbgIdUser_fkey" FOREIGN KEY ("vbgIdUser") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Vbg" ADD CONSTRAINT "Vbg_vbgIdClient_fkey" FOREIGN KEY ("vbgIdClient") REFERENCES "Client"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Vbg" ADD CONSTRAINT "Vbg_vbgIdVisite_fkey" FOREIGN KEY ("vbgIdVisite") REFERENCES "Visite"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Medecine" ADD CONSTRAINT "Medecine_mdgIdClinique_fkey" FOREIGN KEY ("mdgIdClinique") REFERENCES "Clinique"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Medecine" ADD CONSTRAINT "Medecine_mdgIdUser_fkey" FOREIGN KEY ("mdgIdUser") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Medecine" ADD CONSTRAINT "Medecine_mdgIdClient_fkey" FOREIGN KEY ("mdgIdClient") REFERENCES "Client"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Medecine" ADD CONSTRAINT "Medecine_mdgIdVisite_fkey" FOREIGN KEY ("mdgIdVisite") REFERENCES "Visite"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Grossesse" ADD CONSTRAINT "Grossesse_grossesseIdClinique_fkey" FOREIGN KEY ("grossesseIdClinique") REFERENCES "Clinique"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Grossesse" ADD CONSTRAINT "Grossesse_grossesseIdVisite_fkey" FOREIGN KEY ("grossesseIdVisite") REFERENCES "Visite"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Grossesse" ADD CONSTRAINT "Grossesse_grossesseIdClient_fkey" FOREIGN KEY ("grossesseIdClient") REFERENCES "Client"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Grossesse" ADD CONSTRAINT "Grossesse_grossesseIdUser_fkey" FOREIGN KEY ("grossesseIdUser") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Obstetrique" ADD CONSTRAINT "Obstetrique_obstIdClinique_fkey" FOREIGN KEY ("obstIdClinique") REFERENCES "Clinique"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Obstetrique" ADD CONSTRAINT "Obstetrique_obstIdGrossesse_fkey" FOREIGN KEY ("obstIdGrossesse") REFERENCES "Grossesse"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Obstetrique" ADD CONSTRAINT "Obstetrique_obstIdVisite_fkey" FOREIGN KEY ("obstIdVisite") REFERENCES "Visite"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Obstetrique" ADD CONSTRAINT "Obstetrique_obstIdClient_fkey" FOREIGN KEY ("obstIdClient") REFERENCES "Client"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Obstetrique" ADD CONSTRAINT "Obstetrique_obstIdUser_fkey" FOREIGN KEY ("obstIdUser") REFERENCES "user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Accouchement" ADD CONSTRAINT "Accouchement_accouchementIdClinique_fkey" FOREIGN KEY ("accouchementIdClinique") REFERENCES "Clinique"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Accouchement" ADD CONSTRAINT "Accouchement_accouchementIdGrossesse_fkey" FOREIGN KEY ("accouchementIdGrossesse") REFERENCES "Grossesse"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Accouchement" ADD CONSTRAINT "Accouchement_accouchementIdUser_fkey" FOREIGN KEY ("accouchementIdUser") REFERENCES "user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Accouchement" ADD CONSTRAINT "Accouchement_accouchementIdClient_fkey" FOREIGN KEY ("accouchementIdClient") REFERENCES "Client"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Accouchement" ADD CONSTRAINT "Accouchement_accouchementIdVisite_fkey" FOREIGN KEY ("accouchementIdVisite") REFERENCES "Visite"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Cpon" ADD CONSTRAINT "Cpon_cponIdClinique_fkey" FOREIGN KEY ("cponIdClinique") REFERENCES "Clinique"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Cpon" ADD CONSTRAINT "Cpon_cponIdGrossesse_fkey" FOREIGN KEY ("cponIdGrossesse") REFERENCES "Grossesse"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Cpon" ADD CONSTRAINT "Cpon_cponIdUser_fkey" FOREIGN KEY ("cponIdUser") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Cpon" ADD CONSTRAINT "Cpon_cponIdClient_fkey" FOREIGN KEY ("cponIdClient") REFERENCES "Client"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Cpon" ADD CONSTRAINT "Cpon_cponIdVisite_fkey" FOREIGN KEY ("cponIdVisite") REFERENCES "Visite"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TestGrossesse" ADD CONSTRAINT "TestGrossesse_testIdClinique_fkey" FOREIGN KEY ("testIdClinique") REFERENCES "Clinique"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TestGrossesse" ADD CONSTRAINT "TestGrossesse_testIdUser_fkey" FOREIGN KEY ("testIdUser") REFERENCES "user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TestGrossesse" ADD CONSTRAINT "TestGrossesse_testIdClient_fkey" FOREIGN KEY ("testIdClient") REFERENCES "Client"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TestGrossesse" ADD CONSTRAINT "TestGrossesse_testIdVisite_fkey" FOREIGN KEY ("testIdVisite") REFERENCES "Visite"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Saa" ADD CONSTRAINT "Saa_saaIdClinique_fkey" FOREIGN KEY ("saaIdClinique") REFERENCES "Clinique"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Saa" ADD CONSTRAINT "Saa_saaIdGrossesse_fkey" FOREIGN KEY ("saaIdGrossesse") REFERENCES "Grossesse"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Saa" ADD CONSTRAINT "Saa_saaIdUser_fkey" FOREIGN KEY ("saaIdUser") REFERENCES "user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Saa" ADD CONSTRAINT "Saa_saaIdClient_fkey" FOREIGN KEY ("saaIdClient") REFERENCES "Client"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Saa" ADD CONSTRAINT "Saa_saaIdVisite_fkey" FOREIGN KEY ("saaIdVisite") REFERENCES "Visite"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DepistageVih" ADD CONSTRAINT "DepistageVih_depistageVihIdClinique_fkey" FOREIGN KEY ("depistageVihIdClinique") REFERENCES "Clinique"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DepistageVih" ADD CONSTRAINT "DepistageVih_depistageVihIdUser_fkey" FOREIGN KEY ("depistageVihIdUser") REFERENCES "user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DepistageVih" ADD CONSTRAINT "DepistageVih_depistageVihIdClient_fkey" FOREIGN KEY ("depistageVihIdClient") REFERENCES "Client"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DepistageVih" ADD CONSTRAINT "DepistageVih_depistageVihIdVisite_fkey" FOREIGN KEY ("depistageVihIdVisite") REFERENCES "Visite"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PecVih" ADD CONSTRAINT "PecVih_pecVihIdClinique_fkey" FOREIGN KEY ("pecVihIdClinique") REFERENCES "Clinique"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PecVih" ADD CONSTRAINT "PecVih_pecVihIdUser_fkey" FOREIGN KEY ("pecVihIdUser") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PecVih" ADD CONSTRAINT "PecVih_pecVihIdClient_fkey" FOREIGN KEY ("pecVihIdClient") REFERENCES "Client"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PecVih" ADD CONSTRAINT "PecVih_pecVihIdVisite_fkey" FOREIGN KEY ("pecVihIdVisite") REFERENCES "Visite"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExamenPvVih" ADD CONSTRAINT "ExamenPvVih_examenPvVihIdClinique_fkey" FOREIGN KEY ("examenPvVihIdClinique") REFERENCES "Clinique"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExamenPvVih" ADD CONSTRAINT "ExamenPvVih_examenPvVihIdUser_fkey" FOREIGN KEY ("examenPvVihIdUser") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExamenPvVih" ADD CONSTRAINT "ExamenPvVih_examenPvVihIdClient_fkey" FOREIGN KEY ("examenPvVihIdClient") REFERENCES "Client"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExamenPvVih" ADD CONSTRAINT "ExamenPvVih_examenPvVihIdVisite_fkey" FOREIGN KEY ("examenPvVihIdVisite") REFERENCES "Visite"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Reference" ADD CONSTRAINT "Reference_idClinique_fkey" FOREIGN KEY ("idClinique") REFERENCES "Clinique"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Reference" ADD CONSTRAINT "Reference_refIdVisite_fkey" FOREIGN KEY ("refIdVisite") REFERENCES "Visite"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Reference" ADD CONSTRAINT "Reference_idClient_fkey" FOREIGN KEY ("idClient") REFERENCES "Client"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Reference" ADD CONSTRAINT "Reference_idUser_fkey" FOREIGN KEY ("idUser") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ContreReference" ADD CONSTRAINT "ContreReference_idClinique_fkey" FOREIGN KEY ("idClinique") REFERENCES "Clinique"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ContreReference" ADD CONSTRAINT "ContreReference_idReference_fkey" FOREIGN KEY ("idReference") REFERENCES "Reference"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ContreReference" ADD CONSTRAINT "ContreReference_refIdVisite_fkey" FOREIGN KEY ("refIdVisite") REFERENCES "Visite"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ContreReference" ADD CONSTRAINT "ContreReference_idClient_fkey" FOREIGN KEY ("idClient") REFERENCES "Client"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ContreReference" ADD CONSTRAINT "ContreReference_idUser_fkey" FOREIGN KEY ("idUser") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Ordonnance" ADD CONSTRAINT "Ordonnance_ordonnanceIdVisite_fkey" FOREIGN KEY ("ordonnanceIdVisite") REFERENCES "Visite"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Ordonnance" ADD CONSTRAINT "Ordonnance_ordonnanceIdClient_fkey" FOREIGN KEY ("ordonnanceIdClient") REFERENCES "Client"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Ordonnance" ADD CONSTRAINT "Ordonnance_ordonnanceIdUser_fkey" FOREIGN KEY ("ordonnanceIdUser") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Ordonnance" ADD CONSTRAINT "Ordonnance_ordonnanceIdClinique_fkey" FOREIGN KEY ("ordonnanceIdClinique") REFERENCES "Clinique"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Prestation" ADD CONSTRAINT "Prestation_idUser_fkey" FOREIGN KEY ("idUser") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TarifPrestation" ADD CONSTRAINT "TarifPrestation_idPrestation_fkey" FOREIGN KEY ("idPrestation") REFERENCES "Prestation"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TarifPrestation" ADD CONSTRAINT "TarifPrestation_idClinique_fkey" FOREIGN KEY ("idClinique") REFERENCES "Clinique"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TarifPrestation" ADD CONSTRAINT "TarifPrestation_idUser_fkey" FOREIGN KEY ("idUser") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FacturePrestation" ADD CONSTRAINT "FacturePrestation_idVisite_fkey" FOREIGN KEY ("idVisite") REFERENCES "Visite"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FacturePrestation" ADD CONSTRAINT "FacturePrestation_idClient_fkey" FOREIGN KEY ("idClient") REFERENCES "Client"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FacturePrestation" ADD CONSTRAINT "FacturePrestation_idClinique_fkey" FOREIGN KEY ("idClinique") REFERENCES "Clinique"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FacturePrestation" ADD CONSTRAINT "FacturePrestation_idPrestation_fkey" FOREIGN KEY ("idPrestation") REFERENCES "Prestation"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FacturePrestation" ADD CONSTRAINT "FacturePrestation_idUser_fkey" FOREIGN KEY ("idUser") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Examen" ADD CONSTRAINT "Examen_idUser_fkey" FOREIGN KEY ("idUser") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TarifExamen" ADD CONSTRAINT "TarifExamen_idExamen_fkey" FOREIGN KEY ("idExamen") REFERENCES "Examen"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TarifExamen" ADD CONSTRAINT "TarifExamen_idClinique_fkey" FOREIGN KEY ("idClinique") REFERENCES "Clinique"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TarifExamen" ADD CONSTRAINT "TarifExamen_idUser_fkey" FOREIGN KEY ("idUser") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DemandeExamen" ADD CONSTRAINT "DemandeExamen_idUser_fkey" FOREIGN KEY ("idUser") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DemandeExamen" ADD CONSTRAINT "DemandeExamen_idVisite_fkey" FOREIGN KEY ("idVisite") REFERENCES "Visite"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DemandeExamen" ADD CONSTRAINT "DemandeExamen_idClient_fkey" FOREIGN KEY ("idClient") REFERENCES "Client"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DemandeExamen" ADD CONSTRAINT "DemandeExamen_idClinique_fkey" FOREIGN KEY ("idClinique") REFERENCES "Clinique"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ResultatExamen" ADD CONSTRAINT "ResultatExamen_idClient_fkey" FOREIGN KEY ("idClient") REFERENCES "Client"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ResultatExamen" ADD CONSTRAINT "ResultatExamen_idFactureExamen_fkey" FOREIGN KEY ("idFactureExamen") REFERENCES "FactureExamen"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ResultatExamen" ADD CONSTRAINT "ResultatExamen_idVisite_fkey" FOREIGN KEY ("idVisite") REFERENCES "Visite"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ResultatExamen" ADD CONSTRAINT "ResultatExamen_idClinique_fkey" FOREIGN KEY ("idClinique") REFERENCES "Clinique"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ResultatExamen" ADD CONSTRAINT "ResultatExamen_idUser_fkey" FOREIGN KEY ("idUser") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FactureExamen" ADD CONSTRAINT "FactureExamen_idVisite_fkey" FOREIGN KEY ("idVisite") REFERENCES "Visite"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FactureExamen" ADD CONSTRAINT "FactureExamen_idClient_fkey" FOREIGN KEY ("idClient") REFERENCES "Client"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FactureExamen" ADD CONSTRAINT "FactureExamen_idClinique_fkey" FOREIGN KEY ("idClinique") REFERENCES "Clinique"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FactureExamen" ADD CONSTRAINT "FactureExamen_idDemandeExamen_fkey" FOREIGN KEY ("idDemandeExamen") REFERENCES "DemandeExamen"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FactureExamen" ADD CONSTRAINT "FactureExamen_idUser_fkey" FOREIGN KEY ("idUser") REFERENCES "user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Echographie" ADD CONSTRAINT "Echographie_idUser_fkey" FOREIGN KEY ("idUser") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TarifEchographie" ADD CONSTRAINT "TarifEchographie_idEchographie_fkey" FOREIGN KEY ("idEchographie") REFERENCES "Echographie"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TarifEchographie" ADD CONSTRAINT "TarifEchographie_idClinique_fkey" FOREIGN KEY ("idClinique") REFERENCES "Clinique"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TarifEchographie" ADD CONSTRAINT "TarifEchographie_idUser_fkey" FOREIGN KEY ("idUser") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DemandeEchographie" ADD CONSTRAINT "DemandeEchographie_idUser_fkey" FOREIGN KEY ("idUser") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DemandeEchographie" ADD CONSTRAINT "DemandeEchographie_idVisite_fkey" FOREIGN KEY ("idVisite") REFERENCES "Visite"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DemandeEchographie" ADD CONSTRAINT "DemandeEchographie_idClient_fkey" FOREIGN KEY ("idClient") REFERENCES "Client"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DemandeEchographie" ADD CONSTRAINT "DemandeEchographie_idClinique_fkey" FOREIGN KEY ("idClinique") REFERENCES "Clinique"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ResultatEchographie" ADD CONSTRAINT "ResultatEchographie_idClient_fkey" FOREIGN KEY ("idClient") REFERENCES "Client"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ResultatEchographie" ADD CONSTRAINT "ResultatEchographie_idFactureEchographie_fkey" FOREIGN KEY ("idFactureEchographie") REFERENCES "FactureEchographie"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ResultatEchographie" ADD CONSTRAINT "ResultatEchographie_idVisite_fkey" FOREIGN KEY ("idVisite") REFERENCES "Visite"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ResultatEchographie" ADD CONSTRAINT "ResultatEchographie_idClinique_fkey" FOREIGN KEY ("idClinique") REFERENCES "Clinique"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ResultatEchographie" ADD CONSTRAINT "ResultatEchographie_idUser_fkey" FOREIGN KEY ("idUser") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FactureEchographie" ADD CONSTRAINT "FactureEchographie_idVisite_fkey" FOREIGN KEY ("idVisite") REFERENCES "Visite"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FactureEchographie" ADD CONSTRAINT "FactureEchographie_idClient_fkey" FOREIGN KEY ("idClient") REFERENCES "Client"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FactureEchographie" ADD CONSTRAINT "FactureEchographie_idClinique_fkey" FOREIGN KEY ("idClinique") REFERENCES "Clinique"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FactureEchographie" ADD CONSTRAINT "FactureEchographie_idDemandeEchographie_fkey" FOREIGN KEY ("idDemandeEchographie") REFERENCES "DemandeEchographie"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FactureEchographie" ADD CONSTRAINT "FactureEchographie_idUser_fkey" FOREIGN KEY ("idUser") REFERENCES "user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Produit" ADD CONSTRAINT "Produit_idUser_fkey" FOREIGN KEY ("idUser") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TarifProduit" ADD CONSTRAINT "TarifProduit_idProduit_fkey" FOREIGN KEY ("idProduit") REFERENCES "Produit"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TarifProduit" ADD CONSTRAINT "TarifProduit_idClinique_fkey" FOREIGN KEY ("idClinique") REFERENCES "Clinique"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TarifProduit" ADD CONSTRAINT "TarifProduit_idUser_fkey" FOREIGN KEY ("idUser") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Inventaire" ADD CONSTRAINT "Inventaire_idClinique_fkey" FOREIGN KEY ("idClinique") REFERENCES "Clinique"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Inventaire" ADD CONSTRAINT "Inventaire_idUser_fkey" FOREIGN KEY ("idUser") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DetailInventaire" ADD CONSTRAINT "DetailInventaire_idUser_fkey" FOREIGN KEY ("idUser") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DetailInventaire" ADD CONSTRAINT "DetailInventaire_idInventaire_fkey" FOREIGN KEY ("idInventaire") REFERENCES "Inventaire"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DetailInventaire" ADD CONSTRAINT "DetailInventaire_idTarifProduit_fkey" FOREIGN KEY ("idTarifProduit") REFERENCES "TarifProduit"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AnomalieInventaire" ADD CONSTRAINT "AnomalieInventaire_idTarifProduit_fkey" FOREIGN KEY ("idTarifProduit") REFERENCES "TarifProduit"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AnomalieInventaire" ADD CONSTRAINT "AnomalieInventaire_idUser_fkey" FOREIGN KEY ("idUser") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AnomalieInventaire" ADD CONSTRAINT "AnomalieInventaire_idDetailInventaire_fkey" FOREIGN KEY ("idDetailInventaire") REFERENCES "DetailInventaire"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FactureProduit" ADD CONSTRAINT "FactureProduit_idVisite_fkey" FOREIGN KEY ("idVisite") REFERENCES "Visite"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FactureProduit" ADD CONSTRAINT "FactureProduit_idUser_fkey" FOREIGN KEY ("idUser") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FactureProduit" ADD CONSTRAINT "FactureProduit_idTarifProduit_fkey" FOREIGN KEY ("idTarifProduit") REFERENCES "TarifProduit"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FactureProduit" ADD CONSTRAINT "FactureProduit_idClient_fkey" FOREIGN KEY ("idClient") REFERENCES "Client"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FactureProduit" ADD CONSTRAINT "FactureProduit_idClinique_fkey" FOREIGN KEY ("idClinique") REFERENCES "Clinique"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CommandeFournisseur" ADD CONSTRAINT "CommandeFournisseur_idClinique_fkey" FOREIGN KEY ("idClinique") REFERENCES "Clinique"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DetailCommande" ADD CONSTRAINT "DetailCommande_idClinique_fkey" FOREIGN KEY ("idClinique") REFERENCES "Clinique"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DetailCommande" ADD CONSTRAINT "DetailCommande_idUser_fkey" FOREIGN KEY ("idUser") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DetailCommande" ADD CONSTRAINT "DetailCommande_idCommande_fkey" FOREIGN KEY ("idCommande") REFERENCES "CommandeFournisseur"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DetailCommande" ADD CONSTRAINT "DetailCommande_idTarifProduit_fkey" FOREIGN KEY ("idTarifProduit") REFERENCES "TarifProduit"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Couverture" ADD CONSTRAINT "Couverture_couvertIdVisite_fkey" FOREIGN KEY ("couvertIdVisite") REFERENCES "Visite"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Couverture" ADD CONSTRAINT "Couverture_couvertIdClient_fkey" FOREIGN KEY ("couvertIdClient") REFERENCES "Client"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Bilan" ADD CONSTRAINT "Bilan_bilanIdVisite_fkey" FOREIGN KEY ("bilanIdVisite") REFERENCES "Visite"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Bilan" ADD CONSTRAINT "Bilan_bilanIdClient_fkey" FOREIGN KEY ("bilanIdClient") REFERENCES "Client"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CommissionExamen" ADD CONSTRAINT "CommissionExamen_idFactureExamen_fkey" FOREIGN KEY ("idFactureExamen") REFERENCES "FactureExamen"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CommissionExamen" ADD CONSTRAINT "CommissionExamen_idPrescripteur_fkey" FOREIGN KEY ("idPrescripteur") REFERENCES "Prescripteur"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CommissionExamen" ADD CONSTRAINT "CommissionExamen_idVisite_fkey" FOREIGN KEY ("idVisite") REFERENCES "Visite"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CommissionEchographie" ADD CONSTRAINT "CommissionEchographie_idFactureEchographie_fkey" FOREIGN KEY ("idFactureEchographie") REFERENCES "FactureEchographie"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CommissionEchographie" ADD CONSTRAINT "CommissionEchographie_idPrescripteur_fkey" FOREIGN KEY ("idPrescripteur") REFERENCES "Prescripteur"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CommissionEchographie" ADD CONSTRAINT "CommissionEchographie_idVisite_fkey" FOREIGN KEY ("idVisite") REFERENCES "Visite"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_UserCliniques" ADD CONSTRAINT "_UserCliniques_A_fkey" FOREIGN KEY ("A") REFERENCES "Clinique"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_UserCliniques" ADD CONSTRAINT "_UserCliniques_B_fkey" FOREIGN KEY ("B") REFERENCES "user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

